// Styling for the download section
.badges {
    margin-top: 20px;
  .badge-link {
    display: block;
    margin-bottom: 25px;
    &:last-child {
      margin-bottom: 0;
    }
    img {
      height: 60px;
    }
    @media (min-width: 768px) {
      display: inline-block;
      margin-bottom: 0;
    }
  }
}
@media (min-width: 768px) {
  h2 {
    font-size: 70px;
  }
}
